body{
    background: gray;
    width: 960px;
    margin: auto;
}
header{
    
    border: 20px solid black;
    border-radius: 20px;
    margin:auto;
    width:960px;
    background: linear-gradient(to right, red,  orange, indigo, violet);
    margin-top: 40px;
    margin-bottom: 40px;
    
}
nav a {
    text-decoration: none;
    margin-left: 6%;
    margin-right: 3%;
    color:black;
    transition: 350ms;
    font-size: 29px;
    font-family: Stencil std, fantasy;
} 
button{
    border: 5px solid black;
    padding: 10px, 40px;
    background: linear-gradient(to bottom right, lime, rgb(46, 155, 189));
    color: #2a5175;
    border-radius: 30px;
    font-size: 20px;
    transition: 350ms;
    cursor: pointer;
}
button:hover{
    border: 10px solid white;
    background: linear-gradient(to bottom left, lime, rgb(46, 155, 189));
    color: #8a2530;
    font-weight: bold;
}
legend {
    font-size: 50px;
    color: white;
}
form fieldset {
   padding: 40px;
    color: white;
    width: 300px;
    margin: auto;
    display:flex;
    background: linear-gradient(to right, rgb(5, 5, 190), rgb(139, 17, 139));
    font-size: 25px;
    display:inline-block;
    border: 20px solid black;
    float:left;
    height: 280px;
    border-radius: 20px;
}
.titleAndHeader{
    background-color: #f7eecd;
    margin-bottom:15px;
}

form select {
    background-color: #f7eecd;
    font-size: 15px;
}
#article{
    width: 960px;
    height: 159px;
    color: black;
    font-size: 18px;
    background-color: #f7eecd;
  
}
form label{
    padding:10px;
}
table{
    width: 500px;
    height: 400px;
    border: 20px solid black;
    display: inline-block;
    border-radius: 20px;
}
iframe{
    width: 960px;
}
textarea {
    resize: none;
}
body header nav h1{
    font-size: 80px;
    margin:auto;
    color:white;
    margin-left : 15%;
    font-family: Stencil std, fantasy;
}