body{
    background: gray;
    width: 960px;
    margin: auto;
}
header{
    
    border: 20px solid black;
    font-size: 25px;
    border-radius: 20px;
    margin:auto;
    width:960px;
    background: linear-gradient(to right, red,  orange, indigo, violet);
    margin-top: 40px;
    margin-bottom: 40px;
    
}
nav a {
    text-decoration: none;
    margin-left: 7%;
    margin-right: 4%;
    color: black;
    font-family: Stencil std, fantasy;
} 
button{
    border: 5px solid black;
    padding: 10px, 40px;
    background: linear-gradient(to bottom right, lime, rgb(46, 155, 189));
    color: #2a5175;
    border-radius: 30px;
    font-size: 20px;
    transition: 350ms;
    cursor: pointer;
    float: right;
}
button:hover{
    border: 10px solid white;
    background: linear-gradient(to bottom left, lime, rgb(46, 155, 189));
    color: #8a2530;
    font-weight: bold;
}


legend {
    font-size: 50px;
    color: white;
}
form fieldset {
   padding: 10px 20px;
    color: white;
    width: 300px;
    margin: auto;
    background: linear-gradient(to right, rgb(5, 5, 190), rgb(139, 17, 139));
    font-size: 25px;
    display:inline-block;
    border: 20px solid black;

    float: left;
    height: 300px;

    border-radius: 20px;
}
.titleAndHeader{
    background-color: #f7eecd;
    margin-bottom:15px;
}

form select {
    background-color: #f7eecd;
    font-size: 15px;
}
#article{
    width: 960px;
    height: 159px;
    color: black;
    font-size: 18px;
    background-color: #f7eecd;
  
}
form label{
    padding:10px;
}
table{
    margin-top: 20px;
    width: 500px;
    height: 550px;
    border: 10px solid black;
    display: inline-block;
    border-radius: 20px;
    overflow-y: scroll;
    float: right;

}
iframe{
    width: 960px;
    height: 900px;
}
textarea {
    resize: none;
}
body header nav h1{
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    color:rgb(231, 231, 231);
    font-family: Stencil std, fantasy;

}
td{
    border: 1px solid black;
    height: 30px;
    word-wrap: break-word;
}
tr td:nth-of-type(1){
    width: 60px;
}
tr td:nth-of-type(2){
    width: 60px;
    
}
tr td:nth-of-type(3){
    width: 400px;
    
}
tr:nth-of-type(6n+1) td, tr:nth-of-type(6n+2) td, tr:nth-of-type(6n+3) td{
    background-color: lightgrey;
}
tr:nth-of-type(6n+4) td, tr:nth-of-type(6n+5) td, tr:nth-of-type(6n+6) td{
    background-color: silver;
}
form input{
    display: block;
}
section{
    padding: 10px 20px;
    color: white;
    width: 300px;
    margin: -20px auto 0;
    background: linear-gradient(to right, rgb(5, 5, 190), rgb(139, 17, 139));
    font-size: 25px;
    border: 20px solid black;
    float: left;
    height: 180px;
    border-radius: 20px;
}