header{
    border-radius: 20px;
    border: 20px solid black;
    margin:auto;
    width: 960px;
    background: linear-gradient(to right, red,  orange, indigo, violet);
    font-size: 25px;
    font-family: Stencil std, fantasy;
    margin-bottom:40px;
    margin-top: 40px;
}
header h1{
    text-align: center;
    font-size:80px;
    margin-top:20px;
    margin-bottom:35px;
    color:rgb(231, 231, 231);
}
nav a {
    
    text-decoration: none;
    margin-left: 7%;
    margin-right: 4%;
    color: white;
    
    
} 
main{
    width:960px;
}
body{
    margin:auto;
    width: 960px;
    background-color:rgb(73, 73, 73);
}
main h2{
    padding: 20px;
   background:linear-gradient(to left, rgba(221, 50, 27, 0.726), rgba(51, 238, 51, 0.589));
    margin:auto;
    width: 850px;
    border-radius: 20px;
}
body main {
    
    border: 25px solid black;
    border-radius: 20px;
    background-color: #F7EECD;
    font-size: 24px;
    background: linear-gradient(to right, rgb(5, 5, 190), rgb(139, 17, 139));
    color:white;
}

body main p{
    color:white;
    line-height: 35px;
    margin:auto;
    width: 720px;
    text-indent: 16px;
}
main ol li{
    
    margin-top:20px;
    margin-left:50px;
    list-style-type: decimal;
    font-weight: bold;

}
button a{
    text-decoration: none;
}
.button {
    height: 60px;
    width:120px;
    border: 5px solid Black;
    padding: 10px, 40px;
    background: linear-gradient(to bottom right, lime, rgb(46, 155, 189));
    color: #2a5175;
    border-radius: 30px;
    font-size: 20px;
    transition: 300ms;
    cursor: pointer;
    margin-left:845px;
  }
  button:hover{
    border: 10px solid white;
    background: linear-gradient(to bottom left, lime, rgb(46, 155, 189));
    color: #8a2530;
    font-weight: bold;
} 
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  body header img{
    width: 120px;
    height:60px;
    border-radius: 20px;
}