section{
  /* float: left; */
  display: inline-block;
  height: 400px;
  width: 440px;
  margin: 0px 0px 20px 15px;
}

section p:nth-of-type(1) {
  padding: 10px;
}

section p:nth-of-type(2) {
  height: 350px;
  width: 440px;
  background-color: white;
  color: black;
  overflow: scroll;
}
body header img{
  width: 120px;
  height:60px;
  border-radius: 20px;
}