body {
    width: 960px;
     margin: 0 auto;
     background-color: rgb(59, 59, 59);
     color: white;
   }
   header{
     border: 3px solid white;
     background-color: black;
   }
   h1 {
     text-align: center;
     font-size: 7rem;
     font-weight: bold;
     color: white;
   }
   
   .img-one {
     width: 960px;
     height: 450px;
     margin-bottom: 20px;
   }
   
   .img-three {
     width: 100%;
     height: 375px;
     margin: 0px 0px 20px;
   }
   
   .img-three li {
     display: inline-block;
     width: 300px;
     margin-right: 20px;
   }
   
   .img-three li:nth-of-type(3) {
     margin: 0px;
   }
   
   .img-three img {
     width: 300px;
     height: 375px;
     margin-left: 10px;
   }
   
   .article-right {
     height: 400px;
     width: 100%;
     margin-bottom: 20px;
   }
   
   .article-right img {
     width: 480px;
     height: 400px;
     display: inline-block;
   }
   
   .article-right p {
    display: inline-block;
    width: 446px;
    height: 366px;
    overflow-y: scroll;
    padding: 20px 10px 10px 20px;
    overflow-y: scroll;
    border: 2px solid rgb(79, 79, 79);;
  }
   .article-left {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
   }
   .article-left img{
    width: 480px;
     height: 400px;
     display: inline-block;
   }
   .article-left p{
    display: inline-block;
    width: 446px;
    height: 366px;
    overflow-y: scroll;
    padding: 20px 10px 10px 20px;
    border: 2px solid rgb(79, 79, 79);

   }
   .img-two img {
    width: 460px;
    height: 350px;
    
  }
 .img-two {
   width: 100%;
   height: 350px;
   margin-bottom: 20px;
 }
 .img-two li {
  display: inline-block;
  margin-right: 20px;
  width: 460px;
  height: 350px;
  }

    p{
        
        overflow-wrap: break-word;
        background-color:black;
        color:white;
        text-indent: 30px;
        padding: 5px;
        font-size: 1.3em;
    }
    body > p {
      margin: 10px 0px 20px 0;
      border: 2px solid rgb(79, 79, 79);
    }